{% extends "base.html" %}


{% block content %}
<div class="flex flex-wrap justify-center gap-3 m-7">
    {% for i in range(len_element)%}
    
    <div class="card bg-inherit text-white" style="width: 18rem;">
        <img src="../static/images/temp.png" class="card-img-top" alt="book">
        <div class="card-body">
          <h5 class="card-title">{{ element[i]['Title'] }}</h5>
          <p class="card-text">
            <p>AUTHOR: {{ element[i]['Author'] }}</p>
            <p>SUBJECT: {{ element[i]['Subject'] }}</p>
          </p>
          <a href="{{ element[i]['Link'] }}" class="btn btn-primary">Read</a>
        </div>
      </div>
    
    {% endfor %}
    
</div> 
{% endblock %}


{{ element[i]['Link'] }}