{% extends "landing_page.html" %}

{% block landing_content %}
<div>
    <div class="flex flex-col justify-between items-center lg:flex-row md:flex-row sm:flex-row" id="landing_navbar">
        <a href="/" class="font-serif flex gap-1 items-center">
            <img src="../static/images/logo.avif" class="w-14 rounded-lg"/>
            <div class="text-black">ADE-Library</div>
        </a>
        <div class="bg-gray-300 rounded-lg mt-3">
            <a href="/" class="btn">Home</a>
            <a href="/signup" class="btn">Sign Up</a>
            <a href="/login" class="btn bg-primary text-white">Login</a>
        </div>
    </div>
    <div>
        <form method="POST" class="mt-2">
            {{ login_html.hidden_tag() }}
            <p>
                {{ login_html.email.label }}
                <span class="ml-12"> {{ login_html.email() }} </span>
            </p>
            <p class="mt-2">
                {{ login_html.password.label }}
                <span class="ml-5"></span>{{ login_html.password() }}</span>
            </p class="mt-2">
            <p class="bg-primary w-20 text-center rounded-3xl mt-3 text-white">{{ login_html.log_in() }}</p>
        </form>
    </div>

</div>
{% endblock %}