{% extends "landing_page.html" %}

{% block landing_content %}
<div>
    <div class="flex flex-col justify-between items-center lg:flex-row md:flex-row sm:flex-row" id="landing_navbar">
        <a href="/" class="font-serif flex gap-1 items-center">
            <img src="../static/images/logo.avif" class="w-14 rounded-lg"/>
            <div class="text-black">ADE-Library</div>
        </a>
        <div class="bg-gray-300 rounded-lg mt-3">
            <a href="/" class="btn">Home</a>
            <a href="/signup" class="btn">Sign Up</a>
            <a href="/login" class="btn bg-primary text-white">Login</a>
        </div>
    </div>
    <div class="flex justify-center">
        <form method="POST" class="m-4">
            <p>
                <label for="email">Email</label><br/>
                <input type="email" required name="email_login_html" class="rounded-xl lg:w-96 md:w-80 sm:w-72 p-1"/>
            </p>
                <p class="mt-2">
                <label for="password">Password</label><br/>
                <input type="password" required name="password_login_html" class="rounded-xl lg:w-96 md:w-80 sm:w-72 p-1"/><br/>
            </p>
            <div class="flex justify-center">
                <button type="submit" class="mt-2 btn btn-primary" >Login</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}